{% extends "default.html" %}

{% block title %} PullRequests {% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-1-1"><h1>Github Repository statictics about PRs</h1></div>
    </div>

    <div class="table-wrapper">
        <table class="pure-table pure-table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    {% for key, attribute in pull_requests|first %} 
                        <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for attributes in pull_requests %} 
                    <tr>
                        <th>
                            {{ anchors[loop.index0]|raw }}
                        </th>
                    
                        {% for attribute in attributes %} 
                            <td>
                                {{ attribute }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>

            
        </table>
    </div>
     
    <div class="pure-g buttons">
        <div class="pure-u-1-1">
            <a href="{{ download_link }}" target="_blank" class="pure-button pure-button-primary">Download</a>
        </div>
    </div>
    
    
  </body>
</html>
{% endblock %}

