<!doctype html>
<html class="no-js" lang="es" dir="ltr" data-base-url="{{ base_url }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}GitHub SA{% endblock %}</title>
        
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{{ base_url }}favicon.ico" />
        
        
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        
        
        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ base_url }}css/main.css?v={{ version }}">
        {% block stylesheets %}{% endblock %}
    
    </head>
    <body class="{{ device.isMobile ? 'is-mobile' : 'is-dektop' }}">
        
        <!-- Main content -->
        {% block content %}{% endblock %}

        
        <!-- Javascripts -->
        {% block javascripts %}{% endblock %}

    </body>
</html>