<!doctype html>
<html class="no-js" lang="es" dir="ltr" data-base-url="{{ base_url }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}{% endblock %}</title>
        
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{{ base_url }}favicon.ico" />
        
        
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        
        
        <!-- Stylesheets -->
        <link rel="stylesheet" href="css/vendor/foundation-grid.css">
        <link rel="stylesheet" href="css/vendor/foundation-form.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/vendor/vex.css">
        <link rel="stylesheet" href="css/vendor/vex-theme-plain.css">
        {% block stylesheets %}{% endblock %}
    
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        
        <!-- Main content -->
        {% block content %}{% endblock %}

        <!-- Javascripts -->
        <script src="js/vendor/jquery-1.12.0.min.js"></script>
        <script src="js/vendor/vex.combined.min.js"></script>
        <script>vex.defaultOptions.className = 'vex-theme-plain'</script>
        <script src="js/plugins.js?v={{ version }}"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>